{% extends "layouts/base.html" %}

{% block title %} Organization {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% comment %} <body>
      <h1>Organization name</h1>
      {% for i in response %}
      <strong>{{i.organization_name}} ,</strong>
      {% endfor %}
    </body> {% endcomment %}
    <div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value = "Submit">
    </form>
  
  </div>


  {% endblock content %}


  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

